@import 'tailwindcss';

@config "../../tailwind.config.js";

body {
  -webkit-font-smoothing: antialised;
}

body,
input,
textarea,
button {
  font:
    400 0.875rem 'DM Sans',
    sans-serif;
}

button,
textarea,
input,
label,
span,
p {
  letter-spacing: 0.25px;
}

h1,
h2 {
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 0.2px;
}
