#__info__ > span.flex {
  width: 20px;
  height: 20px;
}

li[data-testid='option-__info__'] {
  border-top: 1px solid #00000015;
  border-radius: 0;
  color: #737373;
  padding: 1rem 0.5rem;
  margin-top: 0.5rem;
  cursor: default;
}

#__info__ {
  font-weight: 600;
  &:hover {
    background-color: transparent;
  }
}
